<h2>Loop</h2>
<ul>
    <% results.forEach(function(data) { %>
      <% if(data.phase == 'BEFORE'){ %>
          <a href="http://codeforces.com/contests/<%= data.id %>"><%= data.name %></a>
       <% } %>
    <% }); %>
</ul>
